langgraph
langchain-ollama
langchain-deepseek
langchain-mcp-adapters
mcp 
fastapi 
uvicorn
python-dotenv
langgraph-checkpoint-mysql[pymysql]
langgraph-checkpoint-postgres 
psycopg[binary]
trustcall
langsmith
aiomysql
asyncmy